#myBoard {
	width: 600px;
    margin: auto
	overflow-y: disabled;
}

.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #003380
}

.highlight-white {
	box-shadow: inset 0 0 3px 3px yellow;
}

.highlight-black {
	box-shadow: inset 0 0 3px 3px blue;
}

.highlight-hint {
	box-shadow: inset 0 0 3px 3px red;
}

body {
	overflow-y: scroll;
}

